<%- include("header") -%>
<section id="contact" class="contact section-bg">
  <div class="container">
    <div class="section-title">
      <h2>mail</h2>
    </div>
    <h3><strong style="color: black">Date   :</strong> <%= mail.date.toLocaleDateString('en-us', { day:"numeric", year:"numeric", month:"short"}) %></h3>
    <h3><strong style="color: black">Name   :</strong> <%= mail.name %></h3>
    <h3><strong style="color: black">E-mail :</strong> <%= mail.email %></h3>
    <h3><strong style="color: black">Subject :</strong> <%= mail.subject %></h3>
    <h3><strong style="color: black">Message :</strong></h3>
    <h4 style="padding-left:100px"><%=mail.message%></h4>

  </div>
</section>
<br>
<br>
<%- include("footer") -%>
